{{define "COUNTRY"}}
<select id="country_list">
    <option value="AF">아프가니스탄 (Afghanistan, AF)</option>
    <option value="AX">알랜드제도 (Åland Islands, AX)</option>
    <option value="AL">알바니아 (Albania, AL)</option>
    <option value="DZ">알제리 (Algeria, DZ)</option>
    <option value="AS">아메리칸사모아 (American Samoa, AS)</option>
    <option value="AD">안도라 (Andorra, AD)</option>
    <option value="AO">앙골라 (Angola, AO)</option>
    <option value="AI">앵귈라 (Anguilla, AI)</option>
    <option value="AQ">남극 (Antarctica, AQ)</option>
    <option value="AG">앤티가 바부다 (Antigua and Barbuda, AG)</option>
    <option value="AR">아르헨티나 (Argentina, AR)</option>
    <option value="AM">아르메니아 (Armenia, AM)</option>
    <option value="AW">아루바 (Aruba, AW)</option>
    <option value="AU">오스트레일리아 (Australia, AU)</option>
    <option value="AT">오스트리아 (Austria, AT)</option>
    <option value="AZ">아제르바이잔 (Azerbaijan, AZ)</option>
    <option value="BS">바하마 (Bahamas, BS)</option>
    <option value="BH">바레인 (Bahrain, BH)</option>
    <option value="BD">방글라데시 (Bangladesh, BD)</option>
    <option value="BB">바베이도스 (Barbados, BB)</option>
    <option value="BY">벨라루스 (Belarus, BY)</option>
    <option value="BE">벨기에 (Belgium, BE)</option>
    <option value="BZ">벨리 (Belize, BZ)</option>
    <option value="BJ">베냉 (Benin, BJ)</option>
    <option value="BM">버뮤다 (Bermuda, BM)</option>
    <option value="BT">부탄 (Bhutan, BT)</option>
    <option value="BO">볼리비아 (Bolivia, BO)</option>
    <option value="BQ">카리브 네덜란드 (Bonaire,Sint Eustatius and Saba, BQ)</option>
    <option value="BA">보스니아헤르체고비나 (Bosnia and Herzegovina, BA)</option>
    <option value="BW">보츠와나 (Botswana, BW)</option>
    <option value="BV">부베 섬 (Bouvet Island, BV)</option>
    <option value="BR">브라질 (Brazil, BR)</option>
    <option value="IO">영국령 인도양 지역 (British Indian Ocean Territory, IO)</option>
    <option value="BN">브루나이 (Brunei, BN)</option>
    <option value="BG">불가리아 (Bulgaria, BG)</option>
    <option value="BF">부르키나파소 (Burkina Faso, BF)</option>
    <option value="BI">부룬디 (Burundi, BI)</option>
    <option value="CV">카보베르데 (Cabo Verde, CV)</option>
    <option value="KH">캄보디아 (Cambodia, KH)</option>
    <option value="CM">카메룬 (Cameroon, CM)</option>
    <option value="CA">캐나다 (Canada, CA)</option>
    <option value="KY">케이맨제도 (Cayman Islands, KY)</option>
    <option value="CF">중앙아프리카공화국 (Central African Republic, CF)</option>
    <option value="TD">차드 (Chad, TD)</option>
    <option value="CL">칠레 (Chile, CL)</option>
    <option value="CN">중국 (China, CN)</option>
    <option value="CX">호주 크리스마스섬 (Christmas Island, CX)</option>
    <option value="CC">코코스 군도 (Cocos (Keeling) Islands, CC)</option>
    <option value="CO">콜롬비아 (Colombia, CO)</option>
    <option value="KM">코모로 (Comoros, KM)</option>
    <option value="CD">콩고민주공화국 (Democratic Republic of the Congo, CD)</option>
    <option value="CG">콩고 (Republic of the Congo, CG)</option>
    <option value="CK">쿡아일랜드 (Cook Islands, CK)</option>
    <option value="CR">코스타리카 (Costa Rica, CR)</option>
    <option value="CI">코트디부아르 (Côte d'Ivoire, CI)</option>
    <option value="HR">크로아티아 (Croatia, HR)</option>
    <option value="CU">쿠바 (Cuba, CU)</option>
    <option value="CW">퀴라소 (Curaçao, CW)</option>
    <option value="CY">키프로스 (Cyprus, CY)</option>
    <option value="CZ">체코 (Czech Republic, CZ)</option>
    <option value="DK">덴마크 (Denmark, DK)</option>
    <option value="DJ">지부티 (Djibouti, DJ)</option>
    <option value="DM">도미니카 (Dominica, DM)</option>
    <option value="DO">도미니카공화국 (Dominican Republic, DO)</option>
    <option value="EC">에콰도르 (Ecuador, EC)</option>
    <option value="EG">이집트 (Egypt, EG)</option>
    <option value="SV">엘살바도르 (El Salvador, SV)</option>
    <option value="GQ">적도기니 (Equatorial Guinea, GQ)</option>
    <option value="ER">에리트레아 (Eritrea, ER)</option>
    <option value="EE">에스토니아 (Estonia, EE)</option>
    <option value="SZ">스와질란드 (Eswatini, SZ)</option>
    <option value="ET">에티오피아 (Ethiopia, ET)</option>
    <option value="FK">포클랜드제도 (Falkland Islands, FK)</option>
    <option value="FO">페로제도 (Faroe Islands, FO)</option>
    <option value="FJ">피지 (Fiji, FJ)</option>
    <option value="FI">핀란드 (Finland, FI)</option>
    <option value="FR">프랑스 (France, FR)</option>
    <option value="GF">프랑스령기아나 (French Guiana, GF)</option>
    <option value="PF">프랑스령폴리네시아 (French Polynesia, PF)</option>
    <option value="TF">프랑스령 남방 및 남극 지역 (French Southern Territories, TF)</option>
    <option value="GA">가봉 (Gabon, GA)</option>
    <option value="GM">감비아 (Gambia, GM)</option>
    <option value="GE">조지아(그루지야) (Georgia, GE)</option>
    <option value="DE">독일 (Germany, DE)</option>
    <option value="GH">가나 (Ghana, GH)</option>
    <option value="GI">지브롤터 (Gibraltar, GI)</option>
    <option value="GR">그리스 (Greece, GR)</option>
    <option value="GL">그린란드 (Greenland, GL)</option>
    <option value="GD">그레나다 (Grenada, GD)</option>
    <option value="GP">과들루프 (Guadeloupe, GP)</option>
    <option value="GU">괌 (Guam, GU)</option>
    <option value="GT">과테말라 (Guatemala, GT)</option>
    <option value="GG">건지 (Guernsey, GG)</option>
    <option value="GN">기니 (Guinea, GN)</option>
    <option value="GW">기니비사우 (Guinea-Bissau, GW)</option>
    <option value="GY">가이아나 (Guyana, GY)</option>
    <option value="HT">아이티 (Haiti, HT)</option>
    <option value="HM">허드 맥도널드 제도 (Heard Island and McDonald Islands, HM)</option>
    <option value="VA">바티칸 시국 (Vatican, VA)</option>
    <option value="HN">온두라스 (Honduras, HN)</option>
    <option value="HK">홍콩 (Hong Kong, HK)</option>
    <option value="HU">헝가리 (Hungary, HU)</option>
    <option value="IS">아이슬란드 (Iceland, IS)</option>
    <option value="IN">인도 (India, IN)</option>
    <option value="ID">인도네시아 (Indonesia, ID)</option>
    <option value="IR">이란이슬람공화국 (Iran, IR)</option>
    <option value="IQ">이라크 (Iraq, IQ)</option>
    <option value="IE">아일랜드 (Ireland, IE)</option>
    <option value="IM">맨섬 (Isle of Man, IM)</option>
    <option value="IL">이스라엘 (Israel, IL)</option>
    <option value="IT">이탈리아 (Italy, IT)</option>
    <option value="JM">자메이카 (Jamaica, JM)</option>
    <option value="JP">일본 (Japan, JP)</option>
    <option value="JE">저지 (Jersey, JE)</option>
    <option value="JO">요르단 (Jordan, JO)</option>
    <option value="KZ">카자흐스탄 (Kazakhstan, KZ)</option>
    <option value="KE">케냐 (Kenya, KE)</option>
    <option value="KI">키리바시 (Kiribati, KI)</option>
    <option value="KP">북한 (North Korea, KP)</option>
    <option value="KR">대한민국 (South Korea, KR)</option>
    <option value="KG">키르기스스탄 (Kyrgyzstan, KG)</option>
    <option value="LA">라오스 (Laos, LA)</option>
    <option value="LV">라트비아 (Latvia, LV)</option>
    <option value="LB">레바논 (Lebanon, LB)</option>
    <option value="LS">레소토 (Lesotho, LS)</option>
    <option value="LR">라이베리아 (Liberia, LR)</option>
    <option value="LY">리비아아랍국 (Libya, LY)</option>
    <option value="LI">리히텐슈타인 (Liechtenstein, LI)</option>
    <option value="LT">리투아니아 (Lithuania, LT)</option>
    <option value="LU">룩셈부르크 (Luxembourg, LU)</option>
    <option value="MO">마카오 (Macao, MO)</option>
    <option value="MG">마다가스카르 (Madagascar, MG)</option>
    <option value="MW">말라위 (Malawi, MW)</option>
    <option value="MY">말레이시아 (Malaysia, MY)</option>
    <option value="MV">몰디브 (Maldives, MV)</option>
    <option value="ML">말리 (Mali, ML)</option>
    <option value="MT">몰타 (Malta, MT)</option>
    <option value="MH">마셜 (Marshall Islands, MH)</option>
    <option value="MQ">마르티니크 (Martinique, MQ)</option>
    <option value="MR">모리타니 (Mauritania, MR)</option>
    <option value="MU">모르셔스 (Mauritius, MU)</option>
    <option value="YT">마요트 (Mayotte, YT)</option>
    <option value="MX">멕시코 (Mexico, MX)</option>
    <option value="FM">미크로네시아 (Micronesia, FM)</option>
    <option value="MD">몰도바 (Moldova, MD)</option>
    <option value="MC">모나코 (Monaco, MC)</option>
    <option value="MN">몽골 (Mongolia, MN)</option>
    <option value="ME">몬테네그로 (Montenegro, ME)</option>
    <option value="MS">몬트세랫 (Montserrat, MS)</option>
    <option value="MA">모로코 (Morocco, MA)</option>
    <option value="MZ">모잠비크 (Mozambique, MZ)</option>
    <option value="MM">미얀마 (Myanmar, MM)</option>
    <option value="NA">나미비아 (Namibia, NA)</option>
    <option value="NR">나우루 (Nauru, NR)</option>
    <option value="NP">네팔 (Nepal, NP)</option>
    <option value="NL">네덜란드 (Netherlands, NL)</option>
    <option value="NC">누벨칼레도니 (New Caledonia, NC)</option>
    <option value="NZ">뉴질랜드 (New Zealand, NZ)</option>
    <option value="NI">니카라과 (Nicaragua, NI)</option>
    <option value="NE">니제르 (Niger, NE)</option>
    <option value="NG">나이지리아 (Nigeria, NG)</option>
    <option value="NU">니우에 (Niue, NU)</option>
    <option value="NF">노퍽섬 (Norfolk Island, NF)</option>
    <option value="MK">마케도니아 공화국 (North Macedonia, MK)</option>
    <option value="MP">북마리나제도 (Northern Mariana Islands, MP)</option>
    <option value="NO">노르웨이 (Norway, NO)</option>
    <option value="OM">오만 (Oman, OM)</option>
    <option value="PK">파키스탄 (Pakistan, PK)</option>
    <option value="PW">팔라우 (Palau, PW)</option>
    <option value="PS">팔레스타인 (Palestine, PS)</option>
    <option value="PA">파나마 (Panama, PA)</option>
    <option value="PG">파푸아뉴기니 (Papua New Guinea, PG)</option>
    <option value="PY">파라과이 (Paraguay, PY)</option>
    <option value="PE">페루 (Peru, PE)</option>
    <option value="PH">필리핀 (Philippines, PH)</option>
    <option value="PN">핏케언 제도 (Pitcairn, PN)</option>
    <option value="PL">폴란드 (Poland, PL)</option>
    <option value="PT">포르투갈 (Portugal, PT)</option>
    <option value="PR">푸에르토리코 (Puerto Rico, PR)</option>
    <option value="QA">카타르 (Qatar, QA)</option>
    <option value="RE">레위니옹 (Réunion, RE)</option>
    <option value="RO">루마니아 (Romania, RO)</option>
    <option value="RU">러시아 (Russian Federation, RU)</option>
    <option value="RW">르완다 (Rwanda, RW)</option>
    <option value="BL">생바르텔레미 (Saint Barthélemy, BL)</option>
    <option value="SH">세인트헬레나 (Saint Helena, Ascension and Tristan da Cunha, SH)</option>
    <option value="KN">세인트키츠네비스 (Saint Kitts and Nevis, KN)</option>
    <option value="LC">세인트루시아 (Saint Lucia, LC)</option>
    <option value="MF">생마르탱 (Saint Martin, MF)</option>
    <option value="PM">생피에르 미클롱 (Saint Pierre and Miquelon, PM)</option>
    <option value="VC">세인트빈센트그레나딘 (Saint Vincent and the Grenadines, VC)</option>
    <option value="WS">사모아 (Samoa, WS)</option>
    <option value="SM">산마리노 (San Marino, SM)</option>
    <option value="ST">상투메프린시페 (Sao Tome and Principe, ST)</option>
    <option value="SA">사우디아라비아 (Saudi Arabia, SA)</option>
    <option value="SN">세네갈 (Senegal, SN)</option>
    <option value="RS">세르비아 (Serbia, RS)</option>
    <option value="SC">세이셀 (Seychelles, SC)</option>
    <option value="SL">시에라리온 (Sierra Leone, SL)</option>
    <option value="SG">싱가포르 (Singapore, SG)</option>
    <option value="SX">신트마르턴 (Sint Maarten, SX)</option>
    <option value="SK">슬로바키아 (Slovakia, SK)</option>
    <option value="SI">슬로베니아 (Slovenia, SI)</option>
    <option value="SB">솔로몬제도 (Solomon Islands, SB)</option>
    <option value="SO">소말리아 (Somalia, SO)</option>
    <option value="ZA">남아프리카공화국 (South Africa, ZA)</option>
    <option value="GS">사우스조지아 사우스샌드위치 제도 (South Georgia and the South Sandwich Islands, GS)</option>
    <option value="SS">남수단 (South Sudan, SS)</option>
    <option value="ES">에스파냐 (Spain, ES)</option>
    <option value="LK">스리랑카 (Sri Lanka, LK)</option>
    <option value="SD">수단 (Sudan, SD)</option>
    <option value="SR">수리남 (Suriname, SR)</option>
    <option value="SJ">스발바르 얀마옌 (Svalbard and Jan Mayen, SJ)</option>
    <option value="SE">스웨덴 (Sweden, SE)</option>
    <option value="CH">스위스 (Switzerland, CH)</option>
    <option value="SY">시리아 (Syria, SY)</option>
    <option value="TW">타이완 (Taiwan, TW)</option>
    <option value="TJ">타지키스탄 (Tajikistan, TJ)</option>
    <option value="TZ">탄자니아 (Tanzania, TZ)</option>
    <option value="TH">타이 (Thailand, TH)</option>
    <option value="TL">동티모르 (Timor-Leste, TL)</option>
    <option value="TG">토고 (Togo, TG)</option>
    <option value="TK">토켈라우 (Tokelau, TK)</option>
    <option value="TO">통가 (Tonga, TO)</option>
    <option value="TT">트리니다드토바고 (Trinidad and Tobago, TT)</option>
    <option value="TN">튀니지 (Tunisia, TN)</option>
    <option value="TR">터키 (Turkey, TR)</option>
    <option value="TM">투르크메니스탄 (Turkmenistan, TM)</option>
    <option value="TC">터커스 앤 카이코스 제도 (Turks and Caicos Islands, TC)</option>
    <option value="TV">투발루 (Tuvalu, TV)</option>
    <option value="UG">우간다 (Uganda, UG)</option>
    <option value="UA">우크라이나 (Ukraine, UA)</option>
    <option value="AE">아랍 에미레이츠 (United Arab Emirates, AE)</option>
    <option value="GB">영국 (United Kingdom of Great Britain and Northern Ireland, GB)</option>
    <option value="UM">미국령 군소 제도 (United States Minor Outlying Islands, UM)</option>
    <option value="US">미국 (United States of America, US)</option>
    <option value="UY">우루과이 (Uruguay, UY)</option>
    <option value="UZ">우즈베키스탄 (Uzbekistan, UZ)</option>
    <option value="VU">바누아투 (Vanuatu, VU)</option>
    <option value="VE">베네수엘라 (Venezuela, VE)</option>
    <option value="VN">베트남 (Vietnam, VN)</option>
    <option value="VG">영국령버진아일랜드 (British Virgin Islands, VG)</option>
    <option value="VI">미국령 버진아일랜드 (United States Virgin Islands, VI)</option>
    <option value="WF">왈리스퓌튀나 (Wallis and Futuna, WF)</option>
    <option value="EH">서부 사하라 (Western Sahara, EH)</option>
    <option value="YE">예멘 (Yemen, YE)</option>
    <option value="ZM">잠비아 (Zambia, ZM)</option>
    <option value="ZW">짐바브웨 (Zimbabwe, ZW)</option>
    <option value="KW">쿠웨이트 (Kuwait, KW)</option>
    <option value="RU-TA">타타르스탄 (Republic of Tatarstan, RU-TA)</option>
    <option value="SA-RI">리야드 (Riyadh, SA-RI)</option>
</select>
{{end}}