

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>KT Cloud – CDN Standard</title>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<link rel='stylesheet' href='/css/jquery-ui-1.12.1.custom.css' type="text/css" />
<link rel='stylesheet' href='/css/jquery.jqplot.css' type='text/css'>
<link rel='stylesheet' href='/css/toastr.min.css' type='text/css'>

<script type='text/javascript' src='/scripts/jquery/jquery-3.4.1.min.js'></script>
<script type='text/javascript' src='/scripts/jquery/jquery-migrate-1.4.1.min.js'></script>
<script type='text/javascript' src='/scripts/jquery/jquery-ui-1.12.1.js'></script>

<script type='text/javascript' src='/js/toastr.min.js'></script>
<script type='text/javascript' src='/js/dshow.js'></script>

<script type='text/javascript' src='/d/scripts/portal.common.popup.js?version=1701924972719'></script>
<script type='text/javascript' src='/d/scripts/portal.common.function.js?version=1701924972719'></script>
<script type='text/javascript' src='/d/scripts/portal.common.cr.js?version=1701924972719'></script>
<script type='text/javascript' src='/d/scripts/console.common.2020_renewal.js?version=1701924972719'></script>
<link href="/css/jquery.jqplot.css" rel="stylesheet" type="text/css" />

<script type="text/javascript"> 
    /* 포탈 사용 내역 로깅 */
    var menu_id = "30";
    var menu_nm = "서비스 리스트";
</script>



<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">

<!-- top gnb -->
<link rel='stylesheet' type='text/css' href='/d/css/e_hrBar.css?ver=1.1' />
<script src='/js/e_hrBar.js?version=1701924972719'></script>

<link rel='stylesheet' type='text/css' href='/d/css/e_layout.css' />
<!--table 체크박스 스크립트-->
<script type='text/javascript' src='/js/e_common_new.js?version=1701924972719'></script>
<!-- Include Sidr bundled CSS theme -->
<!--top 서비스 left 그룹 -->
<!--컨텐츠 분할 스크립트/스타일-->
<link rel='stylesheet' href='/resources/lib/split-pane/split-pane.css' />
<link rel='stylesheet' href='/resources/lib/split-pane/pretty-split-pane.css' />
<!--<script src='/resources/lib/jquery-2.1.3.min.js'></script>--> <!--테이블 칼럼 조절 스크립트와 충돌해서 숨김-->
<!-- jquery 스크립트-->
<script src='/scripts/jquery/jquery-ui-1.12.1.custom.min.js?version=1701924972719'></script>
<script src='/scripts/jquery/jquery.cookies.js?version=1701924972719'></script>
<script src='/scripts/jquery/date.js?version=1701924972719'></script>
<script src='/scripts/jquery/jquery.timers.js?version=1701924972719'></script>
<script src='/scripts/jquery/base64.js?version=1701924972719'></script>
<script src='/scripts/jquery/jquery.keyfilter-1.7.js?version=1701924972719'></script>
<script src='/scripts/jquery/jquery.alphanumeric.js?version=1701924972719'></script>
<!--테이블 칼럼 조절 스크립트-->
<script type='text/javascript' src='/scripts/jquery/jquery.tablesorter.js?version=1701924972719'></script>
<script type='text/javascript' src='/scripts/jquery/colResizable-1.5.js?version=1701924972719'></script>
<script src='/scripts/jquery/jquery.i18n.properties-min-1.0.9.js?version=1701924972719'></script>
<!-- favicon -->
<link rel='icon' href='https://cloud.kt.com/images/common/favicon.ico' type='image/x-icon' />
<link rel='shortcut icon' href='https://cloud.kt.com//images/common/favicon.ico' type='image/x-icon' />
<script src='/resources/lib/split-pane/split-pane.js?version=1701924972719'></script>
<!-- 다국어 스크립트-->
<script src='/scripts/multi.language.console_process.js?version=1701924972719'></script>
<script src='/js/jquery.slimscroll.js?version=1701924972719'></script>

<!-- left lnb -->
<link rel='stylesheet' type='text/css' href='/d/css/e_vrBar.css?ver=1.1' />
<script src='/js/e_vrBar.js?version=1701924972719'></script>

<script type='text/javascript'>
    // 스마트 가이드 바로가기 - 서버 청약 체크 로직
    // 2016.07.28 김만구
    var osZoneList = [];        // 2022.01.21 captainPark 사용자가 사용 가능한 Zone 목록
    var osStackList = [];       // 사용자 Stack 목록
    var osMainTierList = [];    // 사용자 Main Tier 목록
    var osZoneLoaded = false;   // Zone목록을 재조회할건지 여부
    var osTierLoaded = false;   // Tier목록을 재조회할건지 여부
    var tierReqCnt = 0;         // Tier목록 요청 횟수
    var tierResCnt = 0;         // Tier목록에 대한 응답 횟수

    // $(document).ready(chkOrderSucc);
    
    // function chkOrder() {
    //     $.ajax({
    //         url: "/bizMecaAPOrder",
    //         type: "POST",
    //         data: "command=check&mdCode=S1820",
    //         dataType: "json",
    //         async:false,
    //         success: chkOrderSucc,
    //         error: errorAjax
    //     });
    // }
    
    // function chkOrderSucc(json) {
    //     var items = json.response;
    //     if(items.result == "0"){
    //         $("#systemNav").show();
    //     }
    //     var mem_sq = $.cookie("memsq");
    //     if(mem_sq == "M119215" || mem_sq == "M119214" || mem_sq == "M168856"){
    //         $("#depth1_menu_ul").find("#m17").show();
    //     }
        
    // }
</script>
</head>
<body>
    <div id="b">
<div id='topsection'>
        <div id='logoNav'>
            <a href='/console/d/osmain'><span class=''><img src='/images/coni/GNB_Logo.svg' alt='KT Cloud  '></span></a>
            


        </div>
        <ul id='memberNav' style="display:none;">
            <div id='menu' class='menu'>
                <div class='inset'>
                    <div class='major'>
                        <ul>
                            <li class='m1' style='display:none'>
                                <a href='javascript:set_current_user();'>

                                </a>
                                <div class='sub'>
                                    <ul style="width:150px;">
                                
                                        <li><a href='javascript:go_portal_page("/portal/portal.myinfo.base.html")'><span>개인 정보</span></a></li>
                                        <li><a href='javascript:go_portal_page("/portal/portal.myinfo.group.html")'><span>그룹 관리</span></a></li>
                                        <li><a href='javascript:go_portal_page("/portal/portal.myinfo.qna.list.html")'><span>나의 문의 내역</span></a></li>
                                        <li><a href='javascript:go_portal_page("/portal/portal.myinfo.applyservice.groupcode.html")'><span>할인 정보 등록</span></a></li>
                                        <li><a href='/console/product_management'><span>가입 상품 관리</span></a></li>
                                        <li><a href='javascript:go_portal_page("/portal/portal.myinfo.quit.html")'><span>회원 탈퇴</span></a></li>
                                
                                        <li class='logout'><a href='javascript:logoutldap()'><span>로그아웃</span></a></li>
                                    </ul>
                                </div>
                            </li>
    
                            <li class='m2' id="group_div_old" style='display:none'>
                                <a href='#'>
                                    <span><img  class="txt_group_admin" src='/images/c_common/gnb_icon_group.png' alt='그룹계정 admin'></span>
                                </a>
                                <div class='sub'>
                                    <div style="width:auto;min-width:350px; min-height:350px;border: 1px solid #353535; background-color: #ffffff; box-shadow: 3px 3px 1px #cccccc; -moz-box-shadow: 3px 3px 1px #cccccc; -webkit-box-shadow: 3px 3px 1px #cccccc;">                                                                                                
                                            
                                            <ul class="" id="group_user_change_select_one_old" style="width:auto;min-width:350px; border-left:1px solid #ccc;border-right:0px solid #ccc;border-bottom:1px solid #353535; background-color: #ffffff; box-shadow: 0px 0px 0px #cccccc; -moz-box-shadow: 0px 0px 0px #cccccc; -webkit-box-shadow: 0px 0px 0px #cccccc;">                                                                                                                                    
                                                      <li class=""><a href='#'><span style="color:#ff3333;">mymailmail@mail.com</span></a><img style="position: absolute;top:0px;right:0px;" alt="check_icon" class="mt5" src="/images/c_common/icon_check_gnb_red.png"></li>                                                                                     
                                            </ul>
                                            
                                            <!-- 서브 스크롤 작업 -->
                                            <div id="inner_gnb_pop_div">                                                                                                                                    
                                            <ul class="" id="group_user_change_select_old" style="border: 0px solid #353535; background-color: #ffffff; box-shadow: 0px 0px 0px #cccccc; -moz-box-shadow: 0px 0x 0px #cccccc; -webkit-box-shadow: 0px 0px 0px #cccccc;">                                                                                                                                    
                                                      <li><a href='#'><span>mymailmaiil@mail.com</span></a></li>                                                                                     
                                                      <li><a href='#'><span>my@mail.com</span></a></li>                                                                                     
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                  
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                   
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                   
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                   
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                   
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                   
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                  
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                  
                                                      <li><a href='#'><span>aaaa@mail.com</span></a></li>                                                                                  
                                                </ul>     
                                            </div>
                                            <!-- 서브 스크롤 작업 끝 //-->
                                            
                                    </div>  
                                </div>
                            </li>
                            <li class='m3' style='width:65px; display:none'><a href='#'><span id="id_current_language"><!--한국어--></span></a>
                                <div class='sub'>
                                    <ul>
                                        <li id="id_locale_korea"><a href='javascript:change_language("ko");'><span>한국어</span></a></li>
                                        <li id="id_locale_english"><a href='javascript:change_language("en");'><span>English</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            
                            <li class='m4' style='display:none'><a href='#'><span class='txt_cust_support'>사용자지원</span></a>
                                <div class='sub'>
                                    <ul style="width:137px;">
                                        <li><a href='javascript:go_portal_page("/portal/ktcloudportal.epc.productintro.cspublic.html")'><span>상품 소개</a></li>
                                        <li><a href='javascript:go_portal_page("/portal/ktcloudportal.cloudincubation.intro.html")'><span class="txt_cs_support_center">클라우드 지원 센터</span></a></li>
                                        <li><a href='javascript:go_portal_page("/portal/portal.faq.html")'><span class="txt_cust_center">고객센터</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </ul>
        <ul id='systemNav' style="display: none;">
            <li>
                
            </li>            
        </ul>

        <ul id='serviceNav'>
            <div id='menu' class='menu'>
                <div class='inset'>
                    <div class='aside'>
                        <ul>
                            <li class='gnbalarm'>
                                <a class='alram' href='#' title=''>

                                    <div class="item-count" id="noti_count" style="display:block;"></div>
                                </a>
                                <div class='sub' id='notice_div'>
                                    <!-- main_page_pop_01 -->
                                    <div class="sub_pop_01" id='noti_message_box' style='display:none;'>
                                        
                                        <div  class="sub_pop_box col01" style="padding:30px 20px;"> 
                                            <div style="width:100%;max-height: 530px; overflow-y: auto;">
                                                <table class="pop_tbl_tst">
                                                    <caption>최근알림 리스트 요약</caption>
                                                    <colgroup>
                                                        <col style="width:50%;">
                                                        <col style="width:45%;">
                                                        <col style="width:5%;">
                                                    </colgroup>    
                                                    <thead style="display: none;">
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </thead>
                                                    <tbody id = "noti_alm_tbody">
                                                        <tr class="pop_tst_t">
                                                            <td><img src="/images/coni/Toast_Info.svg" alt="공지" />공지</td>
                                                            <td><img src="/images/coni/toast_new.svg" alt="new" />04/29 09:20</td>
                                                            <td><img src="/images/coni/trash.svg" alt="삭제" /></td>
                                                        </tr>
                                                        <tr class="pop_tst_c">
                                                            <td colspan="3"><p>Seoul M2 zone 관리 서버 재기동 작업</p></td>
                                                        </tr>
                                                        <tr class="pop_tst_t">
                                                            <td><img src="/images/coni/Toast_Success.svg" alt="성공" />Server</td>
                                                            <td><img src="/images/coni/toast_new.svg" alt="new" />04/29 09:20</td>
                                                            <td><img src="/images/coni/trash.svg" alt="삭제" /></td>
                                                        </tr>
                                                        <tr class="pop_tst_c">
                                                            <td colspan="3">
                                                                <p>Server 생성 성공</p>
                                                                <p>비밀번호 : <a class="tableip dib ml10"><img src="/images/coni/Table_Copy.svg" alt="복사하기"></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr class="pop_tst_t">
                                                            <td><img src="/images/coni/Toast_Fail.svg" alt="실패" />Server</td>
                                                            <td><img src="/images/coni/toast_new.svg" alt="new" />04/29 09:20</td>
                                                            <td><img src="/images/coni/trash.svg" alt="삭제" /></td>
                                                        </tr>
                                                        <tr class="pop_tst_c">
                                                            <td colspan="3"><p>web1 Server 생성 실패</p></td>
                                                        </tr>
                                                    </tbody>
                                                 </table>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- main_page_pop_01 -->
                                </div>
                            </li>
                            
                         
                            
                            <li class=''>
                                <a class='s_language' href='#'></a>
                                <div class='sub'>
                                <!-- main_page_pop_03 -->
                                    <div class="sub_pop_03">

                                        <div class="sub_pop_box">

                                            <div class="mt15">
                                                <p class="pl20 mb15" id="id_locale_korea" onclick='javascript:change_language("ko");'>한국어</p>
                                                <p class="pl20" id="id_locale_korea" onclick='javascript:change_language("en");'>English</p>
                                            </div>    
                                            
                                        </div>
                                    </div>
                                    <!-- main_page_pop_03 -->
                                </div>
                            </li>
                    
                            
                        </ul>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    
<input type="text" id="txt_lang_vat" name='원 (부가세별도)' style="display:none;"/>
<input type="text" id="txt_lang_current_charge" name='이용요금 현황' style="display:none;"/>
<input type="text" id="txt_lang_no_noti" name='발생된 이벤트가 없습니다.' style="display:none;"/>
<form name="archi_form" id="archi_form" method="post" target="">
    <input type="hidden" name="archi_memsq" id="archi_memsq" value=""/>
    <input type="hidden" name="archi_domainid" id="archi_domainid" value=""/>
    <input type="hidden" name="archi_account" id="archi_account" value=""/>
</form>

<div id="dialog_link_error" class="popUp" style="width:500px;top:auto !important;display:none;">         
        <div class="head htsht clfix">
            <h1><!--타이틀--> <span class="del commonPopClose"><a href="#"><img src="/images/coni/Cancel.svg" alt="닫기"></a></span></h1> 
        </div>           
        <div class="body">
            <div class="con ac">
                <p class="mark_spoqa_regular ac">!</p>
                <p class="txt_spoqa_regular ac mt20">인증에 실패하여 접속할 수 없습니다.<br />고객센터에 문의해주세요.</p>
                <div class="btn_box mt40">
                    <div>
                        <div class="pop_btn_right btnl_primary ml0" id="btn_link_qna"><a href="#">문의하기</a></div>
                     </div>
                </div>
            </div><!--con end-->
        </div><!--body end-->
</div>
<script type="text/javascript">
    $("#archi_memsq").val($.cookie("memsq"));
    $("#archi_domainid").val($.cookie("domainid"));
    $("#archi_account").val($.cookie("account"));
</script>
    <script type="text/javascript">
        (function(w, d, a){
        w.__beusablerumclient__ = {
            load : function(src){
                var b = d.createElement("script");
                b.src = src; b.async=true; b.type = "text/javascript";
                d.getElementsByTagName("head")[0].appendChild(b);
            }
        };
        w.__beusablerumclient__.load(a);
    })(window, document, "//rum.beusable.net/script/b200402e151414u580/58ed73733c");

        $(document).ready(function(){

            

            

    });
</script>
        <script type="text/javascript">
             function hpcpackPopup(){
                     var w = 1350;
                     var h = 740;
                     var left = (screen.width/2)-(w/2)-100;
                     var top = (screen.height/2)-(h/2)-65;
                
                 window.open("/HPCdashboard","dashboard","width="+w+",height="+h+",top="+top+",left="+left+",scrollbars=yes, resizable=no");
             } 
            </script>


<div id='leftcolumn'>
    <div class="Platform">    
        <div class='l_setting' id='setting' title='setting'>
            <a href='/console/d/osplatform' id='platform_activate' style="padding: 6px 99px 6px 13px;"><span class='menu-item-parent'>Platform</span></a>    
        </div>
        <a href='/console/d/osplatform' id=''><span class='g1g2 menu-item-parent'>@ D1</span></a>
    </div>
    
     <div class="allservice">    
        <div class='l_allservice' id='' title='home'><a href='#' id='allservice_activate'><span class='menu-item-parent'>All Services</span></a></div>
    </div>
    
    
    <div id='depth1_wrap'>
        <div id='inner_lnb_div' class="slimscrollcls_error">
        <!-- lnb start -->
            <div class='depth1' id=''>
            <div class="vNav">
                          <ul id='depth1_menu_ul' >
                            <li class="vdepth1 cdn-standard active">
                                <a href="#">
                                <img src="/images/menu/leftmenu/cdn-standard.svg">
                                <span>CDN Edge</span>
                                <span class="i"></span>
                                <span class="i"></span></a>
                                <ul >
                                    <li class="vdepth2 cdn3Management">
                                        <a href="/cdn/list">
                                        <span>Resources</span>
                                        </a>
                                    </li>
                                    <li class="vdepth2 cdn3Usage">
                                        <a href="/cdn/origin_group">
                                        <span>Origin Group</span>
                                        </a>
                                    </li>
                                    <li class="vdepth2 cdn3Usage">
                                        <a href="/cdn/purge">
                                        <span>Purge</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                          </ul>
                        </div>
            </div>
            <!-- ///////모니터링 analysis 폼 추가 START////////// -->
            <div class="con_info mb10" style="display:none">
                <form id="cdpForm" target="_blank" method="post" >
                    <input class="app_bt_r" type="hidden" id="mem_sq" name="mem_sq" />
                    <input class="app_bt_r" type="hidden" id="mem_nm" name="mem_nm" />
                    <input class="app_bt_r" type="hidden" id="time_stamp" name="time_stamp" />
                </form>
                <br /><br /><br />
            </div>
            <!-- ///////모니터링 analysis 폼 추가 END////////// -->
        </div>
    </div>
    
    
    
</div>
                                                                                                                                                                                 

<!-- 서버 서비스 -->
<input type="text" id="txt_lang_lmcs_serverlist" name='클라우드 서버리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmcs_disk" name='Disk' style="display:none;"/>
<input type="text" id="txt_lang_lmcs_network" name='Server 네트워킹' style="display:none;"/>
<input type="text" id="txt_lang_lmcs_snapshot" name='스냅샷/이미지' style="display:none;"/>
<input type="text" id="txt_lang_lmcs_backup" name='ucKT Cloud ckup' style="display:none;"/>
<input type="text" id="txt_lang_lmcs_packaging" name='ucloud packaging' style="display:none;"/>
<input type="text" id="txt_lang_lmcs_loghistory" name='로그 히스토리' style="display:none;"/>
<input type="text" id="txt_lang_lmcs_apikey" name='API key' style="display:none;"/>
<input type="text" id="txt_lang_network_traffic" name='네트워크 트래픽 통계' style="display:none;"/>

<!-- CDN 서비스 -->
<input type="text" id="txt_lang_lmcdn_servicelist" name='CDN 서비스 리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmcdn_statistics" name='통계' style="display:none;"/>
<input type="text" id="txt_lang_lmcdn_apikey" name='API key' style="display:none;"/>

<!-- global CDN 서비스 -->
<input type="text" id="txt_lang_lmglcdn_servicelist" name='globalCDN 서비스 리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmglcdn_statistics" name='통계' style="display:none;"/>

<!-- DB 서비스 -->
<input type="text" id="txt_lang_lmdb_list" name='DB 리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmdb_parameterlist" name='파라미터 그룹' style="display:none;"/>
<input type="text" id="txt_lang_lmdb_controllist" name='접근제어 그룹' style="display:none;"/>
<input type="text" id="txt_lang_lmdb_loghistory" name='로그 히스토리' style="display:none;"/>
<input type="text" id="txt_lang_lmdb_apikey" name='API key' style="display:none;"/>

<!-- 스토리지 서비스 -->
<input type="text" id="txt_lang_lmstorage_list" name='스토리지 리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmstorage_statistics" name='통계' style="display:none;"/>
<input type="text" id="txt_lang_lmstorage_apikey" name='API key' style="display:none;"/>
<input type="text" id="txt_lang_lmstorage_reseller" name='리셀러 계정 관리' style="display:none;"/>

<!-- GSLB -->
<input type="text" id="txt_lang_lmgslb_list" name='GSLB 리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmgslb_loghistory" name='로그 히스토리' style="display:none;"/>

<!-- NAS 서비스 -->
<input type="text" id="txt_lang_lmnas_volumelist" name='볼륨 리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmnas_connservermgmt" name='연결서버 관리' style="display:none;"/>
<input type="text" id="txt_lang_lmnas_snapshot" name='스냅샷' style="display:none;"/>
<input type="text" id="txt_lang_lmnas_cifsauthinfomgmt" name='CIFS 인증 정보 관리' style="display:none;"/>
<input type="text" id="txt_lang_lmnas_iqnmgmt" name='IQN 관리' style="display:none;"/>
<input type="text" id="txt_lang_lmnas_loghistory" name='로그 히스토리' style="display:none;"/>

<!-- 로드밸런서 서비스 -->
<input type="text" id="txt_lang_lmlb_loadbalancerlist" name='로드밸런서 리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmlb_networktraffic" name='네트워크 트래픽' style="display:none;"/>
<input type="text" id="txt_lang_lmlb_alarmhistoryNsetting" name='알람 이력 및 설정' style="display:none;"/>
<input type="text" id="txt_lang_lmlb_loghistory" name='로그 히스토리' style="display:none;"/>

<!-- 웹방화벽 서비스 -->
<input type="text" id="txt_lang_lmwaf_waflist" name='웹방화벽 리스트' style="display:none;"/>

<!-- HPC 서비스 -->
<input type="text" id="txt_lang_lmhpc_serverlist" name='서버 리스트' style="display:none;"/>
<input type="text" id="txt_lang_lmhpc_network" name='Server 네트워킹' style="display:none;"/>

<!-- Engine 서비스 -->
<input type="text" id="txt_lang_lmeng_openvmgmt" name='운영환경 관리' style="display:none;"/>
<input type="text" id="txt_lang_lmeng_appmgmt" name='어플리케이션 관리' style="display:none;"/>
<input type="text" id="txt_lang_lmeng_addedresourcemgmt" name='부가자원 관리 ' style="display:none;"/>
<input type="text" id="txt_lang_lmeng_loghistory" name='로그 히스토리' style="display:none;"/>
<input type="text" id="txt_lang_lmeng_accountmgmt" name='engine 계정 관리' style="display:none;"/>

<!-- Vdi 서비스 -->
<input type="text" id="txt_lang_lmvdi_servicestate" name='서비스 현황' style="display:none;"/>

<!-- Encoder 서비스 -->
<input type="text" id="txt_lang_lmencoder_state" name='encoder 현황' style="display:none;"/>

<!---- Container 서비스 -->
<input type="text" id="txt_lang_lmlnb_container" name='컨테이너리스트' style="display:none;"/>




    

        <script type='text/javascript' src='/js/e_hrBar.js'></script>    

        <script type="text/javascript" src="/scripts/console.cdn.js?version=1701924973219"></script>
        <script type="text/javascript" src="/d/scripts/dahee.cdn.list.js?version=1701924973219"></script>
        {{if eq .URL "CDN_LIST"}}
            {{template "CDN_LIST"}}
        {{end}}
        {{if eq .URL "ORIGIN_GROUP"}}
            {{template "ORIGIN_GROUP"}}
        {{end}}
        {{if eq .URL "PURGE"}}
            {{template "PURGE"}}
        {{end}}
        

        <!-- //contentwrapper -->


</div>
<!-- //b -->


<!-- Usage-에러 -->
    <div class="popUp" style="width:500px;top:auto !important;display: none;">         
            <div class="head htsht clfix">
                <h1><!--타이틀--> <span class="del"><a href="#"><img src="/images/coni/Cancel.svg" alt="" /></a></span></h1> 
            </div>           
             <div class="body">
                <div class="con ac">
                    <p class="mark_spoqa_regular mt40 ac">!</p>
                    <p class="txt_spoqa_regular ac mt20">통계 데이터가 존재하지 않습니다.</p>
                    <div class="btn_box mt40">
                        <div>
                            <div class="pop_btn_right btnl_primary" id="btn_confirm"><a href="#">확인</a></div>
                         </div>
                    </div>
                </div>
                <!--con end-->
            </div>
            <!--body end-->
    </div>

<!-- CDN기존인증서등록 -->
<div class="popUp" id="popup_cdn2_sslcert_base" style="width:515px;top:auto !important;display: none;">         
    <div class="head htpop clfix">
        <h1><!--타이틀--> <span class="del" id="closeBtn_x"><a href="#"><img src="/images/coni/Cancel.svg" alt="" /></a></span></h1> 
    </div>           
    <div class="body">
        <div class="con">
            <p class="box_txtl">Certificate Manager에 등록된 SSL/TLS 인증서를 선택합니다.</p>
            <div class="actionlist mt10">
                <ul>
                    <li>
                        <span class="btns_secondary btnhover" id="certi_managed">
                            <a href="#">인증서 관리</a>
                        </span>
                    </li>
                </ul>
            </div>
            <table id="table_body_part" class="c_th_tbl" summary="서버 리스트">
                   <colgroup>
                    <col style="width:36px;" />
                    <col style="width:*;" />
                   </colgroup>
                   <thead>
                       <tr>
                        <th id="allchkbkox" class="first"><img src="/images/coni/t_space.png" /></th>
                        <th><a href="#">이름<img class="sort_img" src="/images/coni/Table_Sort_Down.svg" alt="" /></a></th>
                    </tr>
                   </thead>
                   
                   <tbody>
                    <tr id="sslList" class=""  style="display:none;">
                        <!-- <td class="first" id="text_num"><label class="chkwrap listchkbox"><input id="chkmultichk" type="checkbox" name="contentsList" class="chkbox" /></label></td> -->
                        <!-- <td id="inName">admintest</td> -->
                    </tr>
                    
                </tbody>
            </table>
            <div class="btn_box twobtn mt60">
                <div>
                    <div class="pop_btn_left btnl_secondary" id="closeBtn">
                        <a href="#">취소</a>
                    </div> 
                    <div class="pop_btn_right btnl_primary" id="certBaseFileupload">
                        <a href="#">선택</a>
                    </div>
                 </div>
            </div>
        </div>
        <!--con end-->
    </div>
    <!--body end-->
</div>

<!-- CDN신규인증서등록 -->
<div class="popUp" id="popup_cdn2_sslcert" style="width:765px; top:auto !important; display:none;">         
        <div class="head httable">
            <h1><!--타이틀--> <span class="del" id="mpxBtnPopupClose"><a href="#" ><img src="/images/coni/Cancel.svg" alt="" /></a></span></h1> 
        </div>          
        <div class="body">
            <!--con start -->    
            <div class="con">
             <table class="pop_tbl_table" summary="인증서등록">
                    <caption>인증서등록</caption>
                    <colgroup>
                        <col style="width:*;" />
                        <col style="width:71% ;" />
                    </colgroup>    
                    <thead>
                        <tr>
                            <th colspan="2" class="txt_spoqa_regular pb40">신규 인증서를 등록합니다.</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td class="pb20">이름</td>
                            <td class="pb20">
                                <input class="i_popup2 al" id="sslcertfileName" type="text" style="width:480px;" />
                                <p>
                                    <span class="red_txt mt10" id="ssl_name_red" style="display:none;"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="vt">Private Key</td>
                            <td class="pb10">
                                <textarea class="pop_txt_area b_gray btxt_dgy_regular" name="privatekey" id="privatekey" placeholder="-----BEGIN RSA CERTIFICATE-----&#13;&#10;공백없이 텍스트로 입력해주세요.&#13;&#10;-----END  RSA CERTIFICATE-----" style="width:480px;height:107px;"></textarea>
                                <p>
                                    <span class="red_txt mt10" id="allprivatekey_red" style="display:none;">필수입니다.</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="vt">Public Key Certificate</td>
                            <td class="pb10">
                                <textarea class="pop_txt_area b_gray btxt_dgy_regular" name="publickey" id="publickey" placeholder="-----BEGI CERTIFICATE-----&#13;&#10;공백없이 텍스트로 입력해주세요.&#13;&#10;-----END CERTIFICATE-----" style="width:480px;height:107px;"></textarea>
                                <p>
                                    <span class="red_txt mt10" id="allpublickey_red" style="display:none;">필수입니다.</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="vt">Certification Chain</td>
                            <td class="pb10">
                                <textarea class="pop_txt_area b_gray btxt_dgy_regular" name="joonggyekey" id="joonggyekey" placeholder="-----BEGI CERTIFICATE-----&#13;&#10;공백없이 텍스트로 입력해주세요.&#13;&#10;-----END CERTIFICATE-----" style="width:480px;height:107px;"></textarea>
                                <p>
                                    <span class="red_txt mt10" id="alljoonggyekey_red" style="display:none;"></span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>    
                <div>
                    <p style="line-height:36px;font-size:20px;border-bottom:1px solid #000003;">주의 사항<span class="ptitclick ml10 on" id="mpxSslcertCautions"></span></p>
                    <div class="pdescclick" id="mpxSslcertCautionsArea">
                        <p>RSA 알고리즘 방식으로 생성한 개인키를 이용하여 주십시오.</p>
                        <p>다른 KT Cloud 사용 계정에서 와일드카드 인증서의 중복 사용은 불가합니다.</p>
                        <p>개인인증서 정보에 패스워드가 적용되어 있을 경우 패스워드를 제거해야 합니다.</p>
                        <p>상세 제거 방법은 FAQ 를 참고하여 주세요.</p>
                        <p>다수의 인증서를 동시에 업로드 하실 수 없습니다.</p>
                    </div>
                </div>
                 <div class="btn_box twobtn mt20">
                    <div>
                        <div class="pop_btn_left btnl_secondary" id="closeBtn_x"><a href="#">취소</a></div> 
                        <div class="pop_btn_right btnl_primary" id="certFileupload"><a href="#">등록하기</a></div>
                     </div>
                </div>
            </div><!--con end-->
        </div><!--body end -->
    </div>
                <!-- new 팝업영역 end -->
                
                <form id="frmExcel" method="post">
                    <input type="hidden" id="ex_filename" name="ex_filename" value="" />
                    <input type="hidden" id="ex_table" name="ex_table" />
                </form>
                
                <!-- 기존 팝업영역 start-->

                <!-- CDN 서비스 신청 2step 팝업 -->
                <div class="popUp" id="cdn_create_step2"
                    style="width: 447px !important; top: auto !important; display: none;">
                    <div class="head httable clfix">
                        <h1><!--타이틀--> <span class="del" id="button_exit"><a href="#"><img src="/images/coni/Cancel.svg" alt="닫기"></a></span></h1> 
                    </div>
                    <div class="body">
                        <div class="con">
                            <div>
                                CDN 서비스를 신청하시겠습니까?
                            </div>
                        </div>
                    </div>
                    <div class="btn_box twobtn">
                        <div class="pop_btn_left btnl_secondary">
                            <a id="btn_cdn_popup_create_pre" href="#">취소</a>
                        </div>
                        <!--class="pop_btn_left dim" dim css 추가 -->
                        <div class="pop_btn_right btnl_primary">
                            <a id="btn_cdn_popup_create_complete" href="#">예</a>
                        </div>
                    </div>
                </div>

                <!-- CDN 서비스 정보수정 신청 2step 팝업-->
                <div class="popUp" id="cdn_update_step2"
                    style="width: 447px !important; top: auto !important; display: none;">
                    <div class="head httable clfix">
                        <h1><!--타이틀--> <span class="del" id="button_exit"><a href="#"><img src="/images/coni/Cancel.svg" alt="닫기"></a></span></h1> 
                    </div>
                    <div class="body">
                        <div class="con">
                            <div>
                                CDN 서비스 정보 수정을 하시겠습니까?
                            </div>
                        </div>
                    </div>
                    <div class="btn_box twobtn">
                        <div class="pop_btn_left btnl_secondary">
                            <a id="btn_cdn_popup_update_pre" href="#">취소</a>
                        </div>
                        <!--class="pop_btn_left dim" dim css 추가 -->
                        <div class="pop_btn_right btnl_primary">
                            <a id="btn_cdn_popup_update_complete" href="#">예</a>
                        </div>
                    </div>
                </div>

                <!-- purge 성공 팝업 -->
                <div class="popUp" id="dialog_cdnPurgeOk"
                    style="width: 447px !important; top: auto !important; display: none;">
                    <div class="head httable clfix">
                        <h1><!--타이틀--> <span class="del" id="button_exit"><a href="#"><img src="/images/coni/Cancel.svg" alt="닫기"></a></span></h1> 
                    </div>
                    <div class="body">
                        <div class="con">
                            <div class="">선택하신 CDN 서비스에서 입력하신 파일의 Purge 성공하였습니다.</div>
                            <div>
                                <span>● Purge에 성공한 파일명</span> : <span
                                    id="purge_OkUrl"></span>
                            </div>
                            <div>
                                <span>● Purge에 실패한 파일명</span> : <span
                                    id="purge_FailUrl"></span>
                            </div>
                            </br>
                            <div>
                                <span style="color: red;">*단 파일명이 아닌 디렉토리를 입력하셨을 경우 Purge가 정상적으로 수행되지 않습니다.(디렉토리 Purge 지원하지 않음)</span>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <div class="pop_btn_center">
                            <a id="btn_PurgeOkClose" href="#">닫기</a>
                        </div>
                    </div>
                </div>

                <!-- purge 실패 팝업 -->
                <div class="popUp" id="dialog_cdnPurgeFail"
                    style="width: 447px !important; top: auto !important; display: none;">
                    <div class="head httable clfix">
                        <h1><!--타이틀--> <span class="del" id="button_exit"><a href="#"><img src="/images/coni/Cancel.svg" alt="닫기"></a></span></h1> 
                    </div>
                    <div class="body">
                        <div class="con">
                            <div>선택하신 CDN 서비스에서 입력하신 파일을 찾을 수 없습니다.</div>
                            <div>경로와 파일명을 확인하신 후 다시 시도해 주시기 바랍니다.</div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <div class="pop_btn_center">
                            <a id="btn_PurgeFailClose" href="#">닫기</a>
                        </div>
                    </div>
                </div>

                <!-- CDN 서비스 신청 확인 팝업 -->
                <div class="popUp" id="cdn_success"
                    style="width: 447px !important; top: auto !important; display: none;">
                    <div class="head httable clfix">
                        <h1><!--타이틀--> <span class="del" id="button_exit"><a href="#"><img src="/images/coni/Cancel.svg" alt="닫기"></a></span></h1> 
                    </div>
                    <div class="body">
                        <div class="con">
                            <div>
                                CDN 서비스를 신청하였습니다.<br />신규 및 서비스 변경 신청 후, 실제로 사용할 수 있을때까지는 DNS적용 및 전파를 위한 약 5분 정도의 시간이 소요됩니다.
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <div class="pop_btn_center">
                            <a id="btnCdnSuccessClose" href="#">닫기</a>
                        </div>
                    </div>
                </div>
                
                <div class="popUp" style="width: 900px; height: auto; top: auto !important; display: none; " id="popup_usable_port">
    <div class="head httable clfix">
        <h1><!--타이틀--> <span class="del" id="btn_usable_port_close"><a href="#"><img src="/images/coni/Cancel.svg" alt=""></a></span></h1>
    </div>
    <div class="body">
        <div class="con">
            <p class="pbox_txt">
                <span id="">허용 포트 번호</span>
            </p>
            <table id="" class="pop_tbl">
                <caption>허용 포트 번호</caption>
                <colgroup>
                    <col style="width:14% ;">
                    <col style="width:14%  ;">
                    <col style="width:14%  ;">
                    <col style="width:14%  ;">
                    <col style="width:14% ">
                    <col style="width:14%  ;">
                    <col style="*;">
                </colgroup>    
                <thead style="display:none;"><tr><th id=""></th></tr></thead>
                <tbody id="">
                    <tr id="" class="off" style="cursor: default;">
                        <td>72</td>
                        <td>80-89</td>
                        <td>443</td>
                        <td>488</td>
                        <td>591</td>
                        <td>777</td>
                        <td>1000</td>
                        <td>1080</td>
                    </tr>
                    <tr id="" class="off" style="cursor: default;">
                        <td>1088</td>
                        <td>1111</td>
                        <td>1443</td>
                        <td>2080</td>
                        <td>7001</td>
                        <td>7070</td>
                        <td>7612</td>
                        <td>7777</td>
                    </tr>
                    <tr id="" class="off" style="cursor: default;">
                        
                        <td>8000-9001</td>
                        <td>9090</td>
                        <td>9901-9908</td>
                        <td>11080-11110</td>
                        <td>12900-12949</td>
                        <td>20411</td>
                        <td>45002</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
            
            <div class="btn_box" id="" style="">
                <div class="pop_btn_left btnl_secondary">
 
                </div>
            </div>
            
        </div>
        
<!-- 인증서 등록 팝업 -->
    <div class="popUp" id="" style="width:765px; top:auto !important; display:none;">         
        <div class="head httable">
            <h1><!--타이틀--> <span class="del commonMsgClose"><a href="#" ><img src="/images/coni/Cancel.svg" alt="" /></a></span></h1> 
        </div>          
        <div class="body">
            <!--con start -->    
            <div class="con">
             <table class="pop_tbl_table">
                    <caption>인증서등록</caption>
                    <colgroup>
                        <col style="width:*;" />
                        <col style="width:71% ;" />
                    </colgroup>    
                    <thead>
                        <tr>
                            <th scope="col" colspan="2" class="txt_spoqa_regular pb40">신규 인증서를 등록합니다.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pb20">이름</td>
                            <td class="pb20">
                                <input class="i_popup2 al" id="allsslcertfileName" type="text" style="width:480px;" />
                                <p>
                                    <span class="red_txt mt10" id="allsslcertfileName_red" style="display:none;"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="vt">Private Key</td>
                            <td class="pb10">
                                <textarea class="pop_txt_area b_gray btxt_dgy_regular" id="allprivatekey" placeholder="-----BEGIN RSA PRIVATE KEY-----&#13;&#10;공백없이 텍스트로 입력해주세요.&#13;&#10;-----END  RSA PRIVATE KEY-----" style="width:480px;height:107px;"></textarea>
                                <p>
                                    <span class="red_txt mt10" id="allprivatekey_red" style="display:none;"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="vt">Public Key Certificate</td>
                            <td class="pb10">
                                <textarea class="pop_txt_area b_gray btxt_dgy_regular" id="allpublickey" placeholder="-----BEGIN CERTIFICATE-----&#13;&#10;공백없이 텍스트로 입력해주세요.&#13;&#10;-----END CERTIFICATE-----" style="width:480px;height:107px;"></textarea>
                                <p>
                                    <span class="red_txt mt10" id="allpublickey_red" style="display:none;"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="vt">Certification Chain</td>
                            <td class="pb10">
                                <textarea class="pop_txt_area b_gray btxt_dgy_regular" id="alljoonggyekey" placeholder="-----BEGIN CERTIFICATE-----&#13;&#10;공백없이 텍스트로 입력해주세요.&#13;&#10;-----END CERTIFICATE-----" style="width:480px;height:107px;"></textarea>
                                <p>
                                    <span class="red_txt mt10" id="alljoonggyekey_red" style="display:none;"></span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>    
                <div>
                    <p style="line-height:36px;font-size:20px;border-bottom:1px solid #000003;">주의 사항<span class="ptitclick ml10 on" id="mpxSslcertCautions"></span></p>
                    <div class="pdescclick" id="mpxSslcertCautionsArea">
                        <p>RSA 알고리즘 방식으로 생성한 개인키를 이용하여 주십시오.</p>
                        <p>다른 KT Cloud 사용 계정에서 와일드카드 인증서의 중복 사용은 불가합니다.</p>
                        <p>개인인증서 정보에 패스워드가 적용되어 있을 경우 패스워드를 제거해야 합니다.</p>
                        <p>상세 제거 방법은 FAQ 를 참고하여 주세요.</p>
                        <p>다수의 인증서를 동시에 업로드 하실 수 없습니다.</p>
                    </div>
                </div>
                 <div class="btn_box twobtn mt20">
                    <div>
                        <div class="pop_btn_left btnl_secondary commonMsgClose"><a href="#">취소</a></div> 
                        <div class="pop_btn_right btnl_primary"><a href="#" id="allcertFileupload">등록하기</a></div>
                     </div>
                </div>
            </div><!--con end-->
        </div><!--body end -->
    </div>
    <!-- 인증서 등록 팝업 END-->         
<!-- 팝업영역 end-->

    <!-- 인증서 등록/관리 안내 팝업 -->
    <div class="popUp" id="popup_cdn_managed" style="width: 550px; top: auto !important; display: none;">
        <div class="head htpop clfix">
            <h1>
                <!--타이틀-->
                <span class="del commonMsgClose">
                    <a href="#">
                        <img src="/images/coni/Cancel.svg" alt="">
                    </a>
                </span>
            </h1>
        </div>
        <div class="body">
            <div class="con ac">
                <p class="box_txtl ac">
                <p>인증서 등록/관리 기능은 Certificate Manager 상품으로 이관 되었습니다.</p><br/>
                CDN 상품에서 인증서를 등록/관리하던 기능은 인증서 통합 관리 서비스인 Certificate Manager로 이관되었습니다.
                편리한 기능과 인증서 상세 정보 확인, 상품 간 원활한 연동을 위해서 Certificate Manager 사용을 부탁드립니다.
                </p>
                <div class="btn_box twobtn mt50">
                    <div>
                        <div class="pop_btn_left btnl_secondary commonMsgClose">
                            <a href="#">확인</a>
                        </div>
                        <div class="pop_btn_right btnl_primary" id="cdnCertCM">
                            <a href="#">Certificate Manager로 이동</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--con end-->
        </div>
        <!--body end-->
    </div>
    <!-- 인증서 등록/관리 안내 팝업 END-->
                
                <!--// Tooltip 영역-->
                <div id="tooltip_div" class="btn_tooltip" style="display:block; ">
                    <ul class="depth_1">
                        <li>
                            <dl class="depth_2">
                                <dd>
                                    <span id="tooltip_text"></span>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>



<script src="../../js/jquery.sidr.min.js"></script>
<!--<div id="footer"><a href="http://www.dynamicdrive.com/style/">Dynamic Drive CSS Library</a></div>-->
<script>
    var url = {{.URL}}
</script> 
</body>
</html>
